* {
    font-family: "Courier New", sans-serif;
}

body {
    background-color: wheat;
}

h1 {
    font-size: 40px;
    text-align: center;
    background-color: yellow;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 35px;
}